*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: #89f #6b65658e;
    font-family: "Poppins", sans-serif;
}

html{
    font-size: 62.5%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
